{% extends 'base.html' %}

{% block content%}

<div class="container">

    <h1>Pergunta</h1>

    <div data-bs-spy="scroll" class="scrollspy-example" tabindex="0">


        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%}
        <div class="pergunta">
            <p>{{pergunta[i]}}</p>
        </div>
        <div class="resposta">{{resposta[i]}}</div>
        {%endfor%}

    </div>
    <div>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Pergunta</label>
                <input type="text" class="form-control" id="pergunta" , placeholder="pergunta" name="pergunta">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}